@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 97%;
    --foreground: 30 35% 12%;
    --card: 36 33% 97%;
    --card-foreground: 30 35% 12%;
    --popover: 36 33% 97%;
    --popover-foreground: 30 35% 12%;
    --primary: 30 35% 12%;
    --primary-foreground: 36 33% 97%;
    --secondary: 38 33% 91%;
    --secondary-foreground: 30 35% 12%;
    --muted: 38 33% 91%;
    --muted-foreground: 33 24% 44%;
    --accent: 17 50% 54%;
    --accent-foreground: 36 33% 97%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 37 24% 83%;
    --input: 37 24% 83%;
    --ring: 30 35% 12%;
    --radius: 0rem;
  }

  .dark {
    --background: 30 15% 7%;
    --foreground: 36 33% 94%;
    --card: 30 15% 9%;
    --card-foreground: 36 33% 94%;
    --popover: 30 15% 9%;
    --popover-foreground: 36 33% 94%;
    --primary: 36 33% 94%;
    --primary-foreground: 30 15% 7%;
    --secondary: 30 12% 16%;
    --secondary-foreground: 36 33% 94%;
    --muted: 30 12% 16%;
    --muted-foreground: 33 16% 60%;
    --accent: 17 50% 54%;
    --accent-foreground: 36 33% 97%;
    --destructive: 0 62% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 15% 18%;
    --input: 30 15% 18%;
    --ring: 36 33% 94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
